---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import MainCard from '../components/MainCard.astro';
import MiniNavNar from '../components/MiniNavNar.astro';

import BlogList from '../components/BlogList.astro';
---

<Layout title="Harsh">
	<NavBar/>
	<main>
		<MainCard
			username="Harsh Parashar"
			/>
			<MiniNavNar/>
			<BlogList />
	</main>
</Layout>
<style>
</style>
