---
import profile_pic from '../images/profile.jpg';

export interface Props {
	username: string;
}

const {  username } = Astro.props;
---
<section id="wrapper--hero" class="section--page">
    <img id="profile-pic" src={profile_pic}/>
    <div>
    <h1 id="user-name">{username}</h1>
        <p id="bio">Software Engineer, Full stack developer on AWS Cloud at <a href="https://www.siemens.com/" target="_blank">Siemens</a>, and Blog writer on <a href="https://harshparashar.hashnode.dev/" target="_blank">Blog</a>.</p>
        <p>Also working on extensive Devops and serverless topic</p>
    </div>  
</section>

