---
// import hp_icon from '../../public/white_hp.png';
---

<nav>
    <div id="socials--list">
        <a href="https://www.youtube.com/channel/UCLUU-noa5ggXMXXxm3OyNog" target="_blank">Youtube</a>
        <a href="https://twitter.com/harsh071023" target="_blank">Twitter</a>
        <a href="https://github.com/lightbreakers" target="_blank">GitHub</a>
        <a href="https://docs.google.com/document/d/1FW9NICjFEKkS-qiQ-MBy_wanxlGlTXCdIlB-dH0eyRE/edit?usp=sharing" target="_blank">Resume</a>
    </div>
</nav>
<style>
</style>