---
import hp_icon from '../../public/white_hp.png';
---

<nav>
    <img id="logo" src={hp_icon}/>
    <div id="socials--list">
        <a href="https://harshparashar.hashnode.dev/" target="_blank">Blog</a>    
        <a href="https://www.linkedin.com/in/harsh-parashar-9074327a/" target="_blank">LinkedIn</a>
        <a href="https://www.youtube.com/channel/UCLUU-noa5ggXMXXxm3OyNog" target="_blank">Youtube</a>
    </div>
    <a href="https://github.com/lightbreakers" target="_blank"><img id="github--logo" src="/github.png" /></a>
    <!-- <img id="logo" src={hp_icon}/> -->
</nav>
<style>
    
    /* #hp-icon{
        box-sizing: content-box;
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
    nav{
        background-color: black;
        text: white;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
    }
    a{
        font-size: 18px;
        font-weight: 300;
        text-decoration-line: none;
    } */
    </style>