---
import hp_icon from '../../public/white_hp.png';
---

<nav>
    <img id="logo" src={hp_icon}/>
    <div id="socials--list">
        <a href="https://www.linkedin.com/in/harsh-parashar-9074327a/" target="_blank">LinkedIn</a>
        <a href="https://harshparashar.hashnode.dev/" target="_blank">Blog</a>    
    </div>
    <a href="https://github.com/lightbreakers" target="_blank"><img id="github--logo" src="/github.png" /></a>
    <!-- <img id="logo" src={hp_icon}/> -->
</nav>
<style>
</style>