---
export interface Props {
	title: string;
}
import '../styles/main.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/white_hp.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<script
		type="text/partytown"
		src="https://www.googletagmanager.com/gtag/js?id=G-CMYL0YQZNM">
		</script>
		<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());
		gtag("config", "G-CMYL0YQZNM");
		</script>
	<body>
		<section class='container--main'>
			<slot />
		</section>
	</body>
</html>
